<div class="container-fluid">
	<div class="row" id="edit_buttons">
		<div class="col-xs-4 col-xs-offset-4">
			<%= link_to 'Edit', edit_blogpost_path(@blogpost), :class => "btn", :id => "btn" %>
			<%= link_to 'Back', blogposts_path, :class => "btn", :id => "btn" %>
		</div>
	</div>
</div>
<br>
<div class="container">
	<div class="row">
        <div class="col-xs-12 col-sm-8 col-sm-offset-2" id="bp_show">
          <%= render :partial => 'blogposts/show', :locals => {:blogpost => @blogpost} %>
        </div>
    </div>
</div>