<% if current_user.try(:admin) %>
  <%= link_to "New Content", new_home_path, :class => "btn", :id => "btn" %>
<% end %>

<div class="container-fluid">
	<div class="row">
		<% @homes.each do |home| %>
			<%= render :partial => 'homes/show', :locals => {:home => home} %>
		<% end %>
		<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3" id="bp_show">
			<%= render :partial => 'blogposts/show', :locals => {:blogpost => @blog } %>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3" id="bp_show">
			<%= render :partial => 'galleries/show', :locals => {:gallery => @gall } %>
		</div>
	</div>
</div>