<div class="conatiner-fluid">
	<div class="row">
		<div class="col-xs-12 col-sm-6 col-sm-offset-3">
			<div class="panel">
				<div class="panel-heading">
					<h1>Editing About</h1>
				</div>
				<div class="panel-body">
					<%= render 'form' %>
				</div>
				<div class="panel-footer">
					<%= link_to 'Show', @about, :class => "btn", :id => "btn" %>
					<%= link_to 'Back', abouts_path, :class => "btn", :id => "btn" %>
				</div>
			</div>
		</div>
	</div>
</div>