<%= render 'carousel' %>

<br>

<div class="container-fluid">
  <% if current_user.try(:admin) %>
    <%= link_to 'New Picture', new_gallery_path, :class => "btn", :id => "btn" %>
  <% end %>
</div>

<br>

<div class="container-fluid">
  <div class="row">
    <% @galleries.reverse.each do |gallery| %>
      <%= render :partial => 'galleries/show', :locals => {:gallery => gallery } %>
    <% end %>
  </div>
</div>