/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";

/* Navbar */

body {
	background: #86b2b8;
}

.navbar {
	background-color: #c1d7de;
	a {
		color: #3c523b;
	}
}

.navbar-header .navbar-toggle .icon-bar {
	background: #3c523b;
}

/* Main Wrap */

#wrap {
	margin-top: 75px;
}

.panel {
	border-color: #c1d7de;
}

.panel-heading {
	background: #c1d7de;
}

.container-fluid {
	h1 {
		text-align: center;
	}
}

#myCarousel img {
	margin: auto;
	max-height: 500px;
}

#icons, #panel_buttons {
	text-align: center;
	img {
		height: 25px;
		width: 25px;
	}
}